$primary-bgcolor : #deaf3d;
$primary-color : #555;
$secondary-color : #fff;

$footer-bgcolor : #212121;
$footer-titlecolor : #ccc;
$footer-bodycolor : #ABADAE;

$link-color : #337ab7;

$btn-bgcolor : #690001;
$btn-color : #fff;

$btn-hover-bgcolor : #fff;
$btn-hover-color : #690001;

$font-size: 14px;
