
<header class="Header">
  <div class="Stack Header__top Stack--paddingTight">
    <div class="Stack__Item Stack__Item--fill">Blood Helpline Call: 07966772379</div>
    <div class="Stack__Item">Download our Apps to Contact Donors </div>
  </div>

  <div class="Stack Stack--alignmentCenter Stack--paddingTight">
    <div class="Stack__Item Header__middle--img Stack__Item--fill">
      <img alt="Platelet Donors logo" src="/assets/logo.png" />
    </div>
    <div class="Stack__Item">Android Logo </div>
  </div>

  <div class="Stack Stack--alignmentCenter Stack--noPadding Nav">
    <div class="Stack__Item Nav__Item">
      <a>Home</a>
    </div>

    <div class="Stack__Item Nav__Item">
      <a>Donors Login</a>
    </div>

    <div class="Stack__Item Nav__Item">
      <a>Forgot Password</a>
    </div>

    <div class="Stack__Item Nav__Item">
      <a>Unsubscribe</a>
    </div>

    <div class="Stack__Item Nav__Item">
      <a>In the News</a>
    </div>

    <div class="Stack__Item Nav__Item">
      <a>Paste our Posters</a>
    </div>

    <div class="Stack__Item Nav__Item">
      <a>Donors FAQs</a>
    </div>

    <div class="Stack__Item Nav__Item">
      <a>Facebook</a>
    </div>
  </div>

</header>
