<!DOCTYPE HTML>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>

  <div class="Container">
    <header class="Header">
      <div class="Stack Header__top">
        <div class="Stack__Item Stack__Item--fill">Blood Helpline Call: 07966772379</div>
        <div class="Stack__Item">Download our Apps to Contact Donors </div>
      </div>

    </header>

  </div>
