<!DOCTYPE html>
<html lang="en">
  <head>
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
   
  </head>  
  <body>
    
    <div >
      
    <h1>Donors FAQs</h1>
   
    </div>
    <p><strong>What are Platelets ? </strong></p> 
    
    <p>Platelets are an important component of blood because they are a critical part of the clotting process. They prevent or stop bleeding and 
      are life-saving therapy for patients undergoing chemotherapy for cancer treatment, leukemia, bone marrow transplants, organ transplants 
      and open heart surgery. Children undergoing therapy for cancer and leukemia often need platelets. 
      Due to recent advances in the treatment of these illnesses, the demand for platelets is growing dramatically.
    </p>
    <p>
     <strong> Who can Donate Platelets ?</strong></p>
      
     <p>
       
     Almost anyone can be a platelet donor. The qualifications are the same as for whole blood donations. Through a process call apheresis 
      (pronounced ay-Fuh-REE-sis) or plateletpheresis, which is a technique of selectively withdrawing a single component of blood, you can 
      donate platelets, Since platelets only have a shelf life of five days, the hospital demand for them is constant. That's why we depend 
      on our platelet apheresis heroes.
    </p>
    
    <p>
      <strong>Why cant a large amount of platelets be collected during a regular blood donation ?</strong></p>
    
    
     <p> Platelet donation allows the collection of a large quantity of platelets from a single donor. The specialized technology
      separates and collects just the platelets and returns the red cells and plasma to the donor. To equal the quantity of one platelet donation,
      we would have to combine or "pool" the platelets from six different whole blood donations from six different donors.
    </p>
    
    <p>
    
      <strong>How is a platelet donation different from a whole blood donation ?</strong></p>
<p>
  <ul>
    
 <li>Platelets are not collected at Blood Drives.</li> 
<li>Donating platelets is a very safe procedure. Sterile , single use collection kits and needles are used once, just for you and then discarded.</li>
<li>You can donate platelets 24 times a year compared to 4 times in a year for whole blood.</li>
<li>Because it takes more time to separate and collect the platelets from the other components in your blood</li>
  
    </ul> </p>

   
  </body>
</html>
