<marquee scrollamount="4" direction="left" behavior="scroll" onmouseover="this.stop();" onmouseout="this.start();">
                        <a href="http://www.newindianexpress.com/lifestyle/health/2014/aug/17/Connecting-the-Missing-Blood-Dots-648763.html" target="_blank">Connecting the Missing Blood Dots - The Hindu&nbsp;&nbsp;||&nbsp;&nbsp;</a>
                        <a href="HIRWAD14.html" target="_blank"> Just send an SMS and get Platelets - Hitavada&nbsp;&nbsp;||&nbsp;&nbsp;</a>
                        <a href="1455898_578505695536173_2137744163_n.html" target="_blank">Compassion runs in the veins of Poachas - Times of India&nbsp;&nbsp;||&nbsp;&nbsp;</a>
                        <a href="https://www.youtube.com/watch?v=SSqyznFNqCI" target="_blank">You Only Need Passion to do Good Work - TedxNagpur &nbsp;&nbsp;||&nbsp;&nbsp;</a>
                        <a href="http://social.yourstory.in/2013/06/creating-blood-relations-literally-through-their-ventures/" target="_blank">Creating blood relations, literally, through their ventures - Yourstory.in &nbsp;&nbsp;||&nbsp;&nbsp;</a>
                        <a href="http://www.mid-day.com/lifestyle/2012/nov/261112-Mumbai-Guide-The-bloody-truth-Platelets-save-lives.htm" target="_blank">The Blood Truth - Platelets Save Lives - Midday Mumbai &nbsp;&nbsp;||&nbsp;&nbsp;</a>
                        <a href="http://www.ehitavada.com/news.detail/paper_type/13/news_id/173888/date/2012-11-25" target="_blank">Saving Lives at the cost of an SMS - The Hitavada Nagpur &nbsp;&nbsp;||&nbsp;&nbsp;</a>
                        <a href="TOI.html" target="_blank">Poachas now step up to Platelets- Times of India Nagpur&nbsp;&nbsp;||&nbsp;&nbsp;</a>
</marquee>